# Generate the data for the "theoretical performance" figure

- Save table to './results_plot/fig_fake_acc.csv'

In [1]:
import os
from pathlib import Path

import numpy as np
import pandas as pd
from scipy import interpolate

from label_flip_revised.utils import create_dir

In [2]:
PATH_ROOT = Path(os.getcwd()).absolute().parent
print(PATH_ROOT)

/home/lukec/workspace/diva_01

In [3]:
PATH_OUTPUT = os.path.join(PATH_ROOT, "results_plot")
print(PATH_OUTPUT)
create_dir(PATH_OUTPUT)

/home/lukec/workspace/diva_01/results_plot

In [4]:
x = np.linspace(0, 40, num=10, endpoint=True)

y1 = 100 * np.exp(-0.1 * (x + 8)) + 50
f1 = interpolate.interp1d(x, y1, kind="quadratic")

y2 = -100 * np.exp(-0.1 * (x + 8)) + 95
f2 = interpolate.interp1d(x, y2, kind="quadratic")

xx = np.linspace(0, 40, num=100, endpoint=True)

y_train_1 = 95 * np.ones_like(xx)
y_test_1 = f1(xx)

y_train_2 = f2(xx)
y_test_2 = 50 * np.ones_like(xx)

In [5]:
data = {
    'x': np.array(xx) / 100,
    'y_train_a': y_train_1 / 100,
    'y_test_a': y_test_1 / 100,
    'y_train_b': y_train_2 / 100,
    'y_test_b': y_test_2 / 100,
}
df = pd.DataFrame(data=data)
df = df.round(3)

In [6]:
df

        x  y_train_a  y_test_a  y_train_b  y_test_b
0   0.000       0.95     0.949      0.501       0.5
1   0.004       0.95     0.932      0.518       0.5
2   0.008       0.95     0.915      0.535       0.5
3   0.012       0.95     0.899      0.551       0.5
4   0.016       0.95     0.884      0.566       0.5
..    ...        ...       ...        ...       ...
95  0.384       0.95     0.510      0.940       0.5
96  0.388       0.95     0.509      0.941       0.5
97  0.392       0.95     0.509      0.941       0.5
98  0.396       0.95     0.509      0.941       0.5
99  0.400       0.95     0.508      0.942       0.5

[100 rows x 5 columns]

In [7]:
path_table = os.path.join(PATH_OUTPUT, 'fig_fake_acc.csv')
df.to_csv(path_table, index=False)